<h2>Comments</h2>

<div id="comments">
  <!-- Expands to render partial: "comments/comment", colleciton: post.comments -->
  <%= render post.comments %>
</div>

<%= render "comments/new", post: post %>
